<h1>Editing time record</h1>

<%= render "form", time_record: @time_record %>

<br>

<div>
  <%= link_to "Show this time record", @time_record %> |
  <%= link_to "Back to time records", time_records_path %>
</div>
